<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/update/<%= expense.id %>" method="post">
  <input name="desc" value="<%= expense.desc %>" />
  <input name="amount" value="<%= expense.amount %>" />
  <input name="cat" value="<%= expense.cat %>" />
  <input name="date" value="<%= expense.date %>" />
  <button>Save</button>
</form>
</body>
</html>